// Variables

//Global Colors
$white: #FFFFFF !default;
$red: #E6052A !default;
$gray: #130f40 !default;
$dark: #130f40 !default;

// Semantic Variable Names
$color-primary: $red;

// Links
$color-link: $red;
$color-link-hover: darken($color-link, 5%);
$color-link-active: darken($color-link, 10%);

// Body
$color-body: $gray;
$color-heading: $dark;

//Fonts
$font-family-primary: 'Palanquin', Arial, sans-serif;

@function rem($px) {
    @return ($px/$font-size-base) + rem;
}

$font-size-base: 16;
$font-size-xl: ($font-size-base * 2);
$font-size-lg: ($font-size-base * 1.25);
$font-size-sm: ($font-size-base * .875);
$font-size-xs: ($font-size-base * .75);

$line-height: 1.5;
$line-height-sm: 1.3;
$line-height-lg: 1.75;

$letter-spacing: rem(1);

$font-light: 300;
$font-normal: 400;
$font-bold: 700;

//Animations

$animation-basic: all .2s;
$animation-ease-in: all .2s ease-in;
$animation-in-out: all .2s ease-in-out;

$screen-xs:     321px;
$screen-sm:     40em; //640
$screen-md:     50em;  //800
$screen-lg:   	64em; //1024
$screen-xl:     72em;