.c-404 {
    min-height: 0;

    h1 {
        font-size: 25vw;
        font-weight: bold;
        line-height: 1;
    }
    h2 {
        margin: 1rem 0;
    }
    .container {
        text-align: center;
    }
}